.tileSectionBuilder {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #edf0f3;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .iconAndName {
      display: flex;
      align-items: center;

      input {
        margin-left: 8px;
      }
    }
  }
}
