.tileSectionBuilder {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 6px;
  // border: 1px solid #edf0f3;
  border: 1px dashed var(--tertiary-color);
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .iconAndName {
      display: flex;
      align-items: center;
      gap: 8px;

      .title {
        font-weight: 700;
      }
    }
  }
}
